<h1>Create your account</h1>

<% options = {
  user: @user,
  action: user_url,
  input: :user,
  button: "Create an account"
  } %>

<%= render "shared/errors" %>
<%= render "shared/user_form", options %>
